.book {
  transform-style: preserve-3d;
  align-self: center;
  position: relative;
  margin-right: 235px;
  height: 383px;
  backface-visibility: visible;
  transition: 0.2s;
}
.bookSearch {
  margin-right: 0px;
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 240px;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.front,
.back {
  background-image: url(../../public/Book-Cover.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.front,
.page1,
.page3,
.page5 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.back,
.page2,
.page4,
.page6 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.page1 {
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background-color: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page5 p {
  transform: rotateY(3.142rad);
  margin-top: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
}

.page6 {
  background: #fdfdfd;
}

.page6 p {
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
}

.bookSearch .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.1);
}

.bookSearch .page1 {
  transform: rotateY(-155deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.1);
}

.bookSearch .page2 {
  transform: rotateY(-25deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.1);
}

.bookSearch .page3 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.1);
}

.bookSearch .page4 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.1);
}

.bookSearch .page5 {
  transform: rotateY(-145deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.1);
}

.bookSearch .page6 {
  transform: rotateY(-35deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.1);
}

.bookSearch .back {
  transform: rotateY(-20deg) scale(1.1);
}
